@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

table {
  width: 80%;
  thead {
    color: #d2d2d2;
    tr {
      th {
        margin-left: 15px;
      }
    }
  }
  tbody {
    tr {
      background-color: #49494b5b;

      td {
        padding: 10px;
        color: #d2d2d2;
      }
    }
  }
}
