@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
.crypto-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  .top-bar {
    padding: 1rem 0;
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    select {
      width: 15rem;
      outline: none;
      border: none;
      border-radius: 0.2rem;
      color: #d2d2d2;
      background-color: #49494b5b;
      padding: 0.5rem;
      option {
        background-color: #49494b5b;
        color: #d2d2d2;
      }
    }
  }
  img {
    width: 100px;
    height: 100px;
  }
  h1 {
    font-weight: 500;
    color: #d2d2d2;
  }
  .news-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }
}
